@model List<WebApp.Models.Event>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>All Events</h2>
        <table style="width:800px; overflow:hidden" class="table table-bordered" >

            <tr>
                <th>Name Of Event</th>
                <th>Date and Time</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Description</th>
            </tr>
            @foreach (var e in Model)
            {
                <tr>

                    <td>
                        <a href="/Event/@e.Id">@e.Name</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => e.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => e.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => e.email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => e.Description)
                    </td>

                </tr>
            }
        </table>  
    </div>
</div>
