@model WebApp.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Upcoming Events</h2>
        <table style="width:800px; overflow:hidden" class="table table-bordered" >

            <tr>
                <th>Name Of Event</th>
                <th>Date</th>
                <th>Time</th>
                <th>Duration</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Description</th>
            </tr>

            @foreach (var e in Model.UpcomingEvents)
            {
                <tr>

                    <td>
                        @e.Name
                    </td>
                    <td>
                        @e.Date.ToString("MM/dd/yyyy")
                    </td>
                    <td>
                        @e.Date.ToString("hh:mm tt")
                    </td>
                    <td>
                        @e.Duration
                    </td>
                    <td>
                        @e.Phone
                    </td>
                    
                    <td>
                        @e.email
                    </td>
                    <td>
                        @e.Description
                    </td>

                </tr>
            }
        </table>  
    </div>
</div>
