@model WebApp.ViewModels.RsoViewModel

<br />
<div class="row">
    <div class="col-md-12">
        <h2>@Model.Rso.Name</h2>
        <p>@Model.Rso.Description</p>
        <div class="row">

            @{
                var us = (WebApp.Models.User)ViewData["User"];
                if (us != null)
                {
                    <div>
                        <a asp-area="" asp-controller="Rso" asp-action="@("Join/" + Model.Rso.Id)">Join Us!</a>
                    </div>
                }
                else
                {
                    <p>Please Log In to Join Us!</p>
                }
            }

            
            <div>
                <h3>Contact the Admin</h3>
                <div><label>Email:</label>@Model.Admin.Email</div>
            </div>

            <div>
                <h3>Our Members</h3>
                @foreach (var u in Model.Members)
                {
                    <div class="col-md-4 alert alert-warning">
                        <div><label>First Name:</label>@u.FirstName</div>
                        <div><label>Last Name:</label>@u.LastName</div>
                        <div><label>Email:</label>@u.Email</div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>